[submodule "3rdparty/RIoT"]
	path = 3rdparty/RIoT
	url = https://github.com/Microsoft/RIoT.git
	branch = tcps-feature
[submodule "3rdparty/optee_os"]
	path = 3rdparty/optee_os
	url = https://github.com/ms-iot/optee_os.git
	branch = ms-iot-security
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "3rdparty/optee_client"]
	path = 3rdparty/optee_client
	url = https://github.com/ms-iot/optee_client.git
	branch = ms-optee-ocalls
[submodule "3rdparty/OpteeCalls"]
	path = 3rdparty/OpteeCalls
	url = https://github.com/ms-iot/OpteeCalls.git
	branch = master
[submodule "3rdparty/json11"]
	path = 3rdparty/json11
	url = https://github.com/dropbox/json11
