[submodule "3rdparty/optee/optee_os"]
	path = 3rdparty/optee/optee_os
	url = https://github.com/ms-iot/optee_os
	branch = ms-iot-openenclave
[submodule "3rdparty/optee/optee_client"]
	path = 3rdparty/optee/optee_client
	url = https://github.com/ms-iot/optee_client
	branch = ms-iot-openenclave
[submodule "3rdparty/snmalloc"]
	path = 3rdparty/snmalloc/snmalloc
	url = https://github.com/Microsoft/snmalloc.git
[submodule "tools/oeedger8r-cpp"]
	path = tools/oeedger8r-cpp
	url = https://github.com/openenclave/oeedger8r-cpp
[submodule "3rdparty/libgcov/compiler-rt"]
	path = 3rdparty/libgcov/compiler-rt
	url = https://github.com/llvm-mirror/compiler-rt
	branch = release_70
	ignore = all
[submodule "3rdparty/openssl/openssl"]
	path = 3rdparty/openssl/openssl
	url = https://github.com/openssl/openssl
	branch = OpenSSL_1_1_1-stable
[submodule "3rdparty/mbedtls/mbedtls"]
	path = 3rdparty/mbedtls/mbedtls
	url = https://github.com/openenclave/openenclave-mbedtls.git
	branch = openenclave-mbedtls-2.16.8
[submodule "3rdparty/openssl/intel-sgx-ssl"]
	path = 3rdparty/openssl/intel-sgx-ssl
	url = https://github.com/intel/intel-sgx-ssl
