.gitignore
.vscode-test/**
.vscode/**
*.vsix
**/*.map
**/*.ts
**/tsconfig.json
**/tslint.json
**/webpack.config.json
3rdparty/**
devkit/**
node_modules/**
out/**
scripts/**
src/**
vsc-extension-quickstart.md
webpack.config.json
