# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

JENKINS_RUN=/var/run/jenkins
JENKINS_WORKSPACE="{{ jenkins_agent_root_dir }}"
JENKINS_URL="{{ jenkins_url }}"
JENKINS_NODE_NAME="{{ jenkins_agent_name }}"
JENKINS_SECRET="{{ node_secret }}"
