# Each line is a file pattern followed by one or more owners.
# Refer to https://help.github.com/en/articles/about-code-owners

# Order is important; the last matching pattern takes the most
# precedence. Try to keep at least two owners per pattern.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @openenclave/committers

/3rdparty/ @mikbras @anakrish @mingweishih
/cmake/ @mingweishi @anakrish
/common/ @anakrish @gupta-ak @mikbras
/docs/refman @cyandevs @radhikaj @rs--
/debugger/ @anakrish @jxyang
/enclave/ @anakrish @gupta-ak @mikbras @mingweishih
/host/ @anakrish @gupta-ak @mikbras @mingweishih
# TODO: Break this folder out?
/include/ @achamayou @dthaler @mikbras @anakrish
/libc/ @mikbras @anakrish
/scripts/ @achamayou @cyandevs @rs-- @mingweishih
/samples/ @dthaler @yentsanglee @anakrish
/syscall/ @mikbras @anakrish @mingweishih
# TODO: Break this folder out?
/tests/ @anakrish @radhikaj
/tools/ @anakrish @mingweishih
/tools/oeedger8r/ @anakrish @mingweishih
/pkgconfig/ @anakrish @mingweishih @gupta-ak @mikbras
# Deprecated folder, should see no new merges
/prereqs/ @radhikaj

# Matches all folders with these names, not just in root.
optee/ @Britel @dthaler @HernanGatta
sgx/ @anakrish @mingweishih @gupta-ak @mikbras
linux/ @mikbras @anakrish
windows/ @anakrish @mingweishih
crypto/ @mingweishih @gupta-ak

# Match all CMake, anywhere.
CMakeLists.txt @anakrish @mingweishih
*.cmake @anakrish @mingweishih

# Match all Markdown, anywhere.
*.md @radhikaj

# Except design reviews, which should be everyone.
/docs/DesignDocs/ @openenclave/committers

# And governance documents.
/docs/Contributing.md @openenclave/committee
/docs/Governance.md @openenclave/committee
/docs/Committers.md @openenclave/committee
/docs/Releasing.md @openenclave/committee
