# Copyright (c) Open Enclave SDK contributors.
# Licensed under the MIT License.

[defaults]
inventory = inventory
# "Authentication or permission failure. In some cases, you may have been able
# to authenticate and did not have permissions on the target directory. Consider
# changing the remote tmp path in ansible.cfg to a path rooted in \"/tmp\" ." 
remote_tmp = /tmp/.ansible
