# Copyright (c) Open Enclave SDK contributors.
# Licensed under the MIT License.

---
- hosts: localhost
  any_errors_fatal: true
  become: yes
  tasks:
    - import_role:
        name: linux/openenclave
        tasks_from: environment-setup-cross-arm.yml
