# Copyright (c) Open Enclave SDK contributors.
# Licensed under the MIT License.
cryptography==44.0.2
pyOpenSSL==25.0.0
ansible>=8.7,<9.0
ansible-core>=2.15.13,<2.16
cmake_format==0.6.13
pywinrm==0.5.0
requests==2.32.3
